<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Дипломная работа к профессии Python-разработчик «API Сервис заказа товаров для розничных сетей».</h1>

<p>Описание<p/>
Приложение предназначено для автоматизации закупок в розничной сети через REST API.<p/>

Внимание! Все взаимодействие с приложением ведется через API запросы. Реализация фронтенд-приложения возможна только по желанию обучающегося<p/>

Пользователи сервиса:<p/>

Клиент (покупатель):<p/>

Делает ежедневные закупки по каталогу, в котором представлены товары от нескольких поставщиков.<br/>
В одном заказе можно указать товары от разных поставщиков.<br/>
Пользователь может авторизироваться, регистрироваться и восстанавливать пароль через API.<p/>
Поставщик:<p/>

Через API информирует сервис об обновлении прайса.<br/>
Может включать и отключать прием заказов.<br/>
Может получать список оформленных заказов (с товарами из его прайса).<p/>
Задача<p/>
Необходимо разработать backend-часть сервиса заказа товаров для розничных сетей на Django Rest Framework.<p/>

Базовая часть:<p/>

Разработка сервиса под готовую спецификацию (API);<br/>
Возможность добавления настраиваемых полей (характеристик) товаров;<br/>
Импорт товаров;<br/>
Отправка накладной на email администратора (для исполнения заказа);<br/>
Отправка заказа на email клиента (подтверждение приема заказа).</p>
</body>
</html>